@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="text-xl-center">
            <h3>
                sprotyv-map - карта пунктів ТрО України
            </h3>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
